@import "../../scss/variables";
@import "../../scss/mixins";

.product {
  padding: 3.2rem 0;
  text-align: center;

  &__card {
    padding: 1.8rem;

    &:hover .product__photo--rear {
      opacity: 1;
      z-index: 0;
    }
    &:not(:hover) .product__photo {
      transition: all 0.4s;
    }
  }

  &__photo-box {
    position: relative;
  }

  &__photo {
    width: 100%;
  }

  &__photo--rear {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: opacity 0.4s;
  }

  &__sale {
    display: inline-block;
    font-size: 1.4rem;
    position: absolute;
    left: 0;
    top: 0;
    margin: 1.5rem;

    color: $color-white;
    background-color: $color-sale;
    padding: 1.8rem 0.9rem;
    border-radius: 100%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    align-items: center;
    margin: 1.6rem 0;
  }

  &__title {
    color: $color-title;
    font-size: 1.8rem;
  }

  &__price-box {
    display: flex;
    gap: 7px;
  }

  &__price {
    color: $color-primary-light;
  }

  &__price--sale {
    color: $color-content-secondary;
    text-decoration: line-through;
  }

  &__sale-price {
    color: $color-sale;
  }

  &__card-btn {
    font-size: 1.2rem;
    padding: 8px 15px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }

  &__link {
    @include main-btn-size;
  }
}
