@import "../../scss/variables";

.testimonial-slider {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2.4rem;
  padding: 2.4rem;
  cursor: grab;

  &__user {
    //
  }

  &__photo {
    width: 15rem;
    border-radius: 100%;
  }

  &__user-name {
    font-size: 2.4rem;
    color: $color-primary-dark;
  }

  &__text {
    color: $color-content-base;
    font-size: 1.8rem;
    line-height: 1.6;
  }

  &__link {
    font-size: 1rem;
    padding: 0.8rem 1.2rem;
    align-self: center;
  }
}
