@import "../../scss/variables";
@import "../../scss/animations";

// -Font sizes (px):
// 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
// Spacing system (px)
// 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128;

.header {
  position: fixed;
  background-color: $color-white;
  width: 100%;
  padding: 3rem 0;
  transition: all 0.3s;

  @media (max-width: $lg) {
    padding: 2.4rem 0;
  }
}

// STICKY NAV
.sticky.header {
  padding: 1.6rem 0;
  z-index: 300;
}

.main-nav {
  padding: 0 1.6rem;
  position: relative;

  &__list {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 2.4rem;
    font-size: 1.3rem;
  }

  &__link {
    text-decoration: none;
    color: $color-content-base;
    transition: 0.3s;

    &:hover {
      color: $color-primary-dark;
    }
  }

  &__logo {
    transition: all 0.3s;

    img {
      transition: all 0.3s;

      width: 20rem;
    }
  }

  &__icon-container {
    display: flex;
    justify-content: flex-end;
    color: $color-primary-light;
    transition: 0.3s;
    cursor: pointer;
  }

  &__icon-bar {
    display: flex;
    gap: 2.4rem;
    animation: smoothFromLeft 0.2s ease-out;
  }

  &__icon {
    transition: 0.3s;
    margin-left: 0.8rem;

    &:hover {
      color: $color-primary-dark;
    }
  }

  &__search-container {
    display: flex;
    align-items: center;
    background-color: $color-white;
  }

  &__search-form {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    color: $color-content-secondary;
    animation: smoothFromRight 0.2s ease-out;

    // padding: 0.8rem;
    // border-left: 1px solid $color-content-secondary;
    // @media (max-width: $md) {
    //   padding: 0.6rem;
    // }
  }

  &__search-input {
    border: none;
    outline: none;
    z-index: 100;

    @media (max-width: $md) {
      width: 75 vw;
    }
  }
}
