@import "../../scss/variables";
@import "../../scss/mixins";

.help {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
  color: $color-white;
  padding: 8rem 0;

  &__heading {
    font-size: 4.8rem;
    margin-bottom: 2rem;
    text-align: center;
  }

  &__content-box {
    display: flex;
    align-items: center;
    gap: 4rem;

    @media (max-width: $md) {
      flex-direction: column;
    }
  }

  &__btn {
    @include main-btn-size;
    margin-top: 0;
    border: 1px solid white;

    &:hover {
      color: $color-primary-main;
      background-color: $color-white;
    }
  }
}
