@import "../../scss//variables";
@import "../../scss/mixins";

.future {
  text-align: center;
  padding: 4.8rem 1.2rem;

  &__box {
    @include flex-column(1.6rem);
    align-items: center;
    padding: 2.4rem;
  }

  &__icon {
    width: 4rem;
    height: 4rem;
    color: $color-primary-main;
  }

  &__title {
    font-size: 3rem;
    font-family: $font-alegreya;
    text-transform: none;
    margin-top: 0.8rem;
  }

  &__link {
    @include main-btn-size;
  }
}
