@import "../../scss/variables";
@import "../../scss/mixins";

// -Font sizes (px):
// 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
// Spacing system (px)
// 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128;

.sidebar-product {
  display: flex;
  gap: 1.2rem;
  padding: 2.4rem;
  border-top: 1px solid #e9ecef;

  &__photo {
    img {
      height: 8rem;
      width: 8rem;
    }
  }

  &__info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0.8rem;
    padding-top: 0;
    column-gap: 4.8rem;
    row-gap: 1.2rem;
  }

  &__name {
    grid-column: 1 / -1;
  }

  &__quantity-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    border: 0.2px solid #dfe0e0;
  }

  &__quantity {
    width: 2rem;
    font-size: 1.4rem;
    min-height: auto;
    text-align: center;
  }

  &__remove {
    height: 2rem;
    width: 2rem;
    color: $color-content-secondary;
    cursor: pointer;

    &:hover {
      color: black;
    }
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input {
    background-color: transparent;
  }
}
