@import "../../../scss/variables";
@import "../../../scss/mixins";

.section-header {
  @include flex-column(1.6rem);
  align-items: center;

  &__picture {
    width: 10rem;
  }

  &__title {
    font-size: 4.8rem;
    color: $color-title;
    margin-bottom: 2rem;
  }

  &__subheading {
    font-size: 1.8rem;
  }
}
