@import "../../../scss/variables";

.section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;

  &__picture {
    width: 10rem;
  }

  &__title {
    font-size: 4.8rem;
    color: $color-title;
    margin-bottom: 2rem;
  }

  &__subheading {
    font-size: 1.8rem;
  }
}
