@import "../../scss/variables";
@import "../../scss/mixins";

.guarantee {
  &__box {
    @include flex-column(1.6rem);
    align-items: center;
    text-align: center;
    padding: 2.4rem;
    color: $color-primary-dark;
  }

  &__text {
    line-height: 1.6;
    font-size: 1.8rem;
    letter-spacing: 1px;
  }
}
