@import "../../../scss/variables";

.button {
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
}

.button-text {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.button--filled {
  background-color: $color-primary-main;
  color: $color-white;

  &:hover {
    color: $color-white;
    background-color: $color-primary-light;
  }
}

.button--outline {
  color: $color-primary-main;
  background-color: $color-white;
  border: 1px solid $color-primary-main;

  &:hover {
    color: $color-white;
    background-color: $color-primary-main;
  }
}
