@import "../../scss/variables";
@import "../../scss/animations";
@import "../../scss/mixins";

.main-hero {
  @include flex-column(9.6rem);

  &__text-box {
    color: $color-white;
    text-align: center;
    margin-top: 9.6rem;
  }

  &__heading {
    font-size: 10.2rem;
    animation: smoothFromBottom 0.8s ease-out;

    @media (max-width: $lg) {
      font-size: 8.2rem;
    }
  }

  &__description {
    font-size: 5rem;
    animation: smoothFromBottom 1.5s ease-out;
    @media (max-width: $lg) {
      font-size: 4rem;
    }
  }

  &__link {
    @include main-btn-size;

    animation: smoothScale 1.5s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
      rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }

  &__future-box {
    font-family: $font-inters;
    display: flex;
    align-items: center;
    gap: 1.6rem;
    color: $color-white;

    @media (max-width: $md) {
      flex-direction: column;
    }
  }

  &__future-title {
    font-size: 1.8rem;
    line-height: 1.3;
    text-align: center;

    @media (max-width: $lg) {
      font-size: 1.6rem;
    }
  }
}
