@import "../../scss/variables";
@import "../../scss/mixins";

// -Font sizes (px):
// 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
// Spacing system (px)
// 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128;

.contact {
  &__info {
    align-items: center;
    text-align: center;
    @include flex-column(2rem);
  }

  &__icon {
    height: 3.6rem;
    width: 3.6rem;
    color: $color-primary-main;
  }

  span {
    font-size: 1.4rem;
    color: $color-content-secondary;
  }

  p {
    font-size: 1.8rem;
    color: $color-primary-dark;
  }

  // Changing form component class
  .form {
    padding: 6rem;

    @media (max-width: $xs) {
      padding: 2.5rem 3rem;
    }

    &__heading {
      font-size: 3.8rem;
      text-align: center;
      margin-bottom: 4.8rem;
    }

    &__btn {
      text-align: center;
      align-self: stretch;
      margin-top: 2.4rem;
    }
  }
}
