@import "../../../scss/mixins";
@import "../../../scss/variables";

.input-box {
  @include flex-column(1.2rem);

  input {
    padding: 1.4rem;
    border: 0.1px solid rgba(208, 205, 205, 0.428);
  }
}

.input-error {
  font-size: 1.4rem !important;
  color: #b91c1c !important;
}
