@import "../../scss/variables";

// -Font sizes (px):
// 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
// Spacing system (px)
// 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128;

.magazine {
  // padding: 0 4.8rem;
  margin-bottom: 10rem;
  margin-top: 6.4rem;

  // @media (max-width: $xl) {
  //   padding: 0 3.2rem;
  // }

  &__card {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

    padding: 0 3.2rem;
  }

  &__photo {
    position: relative;
    overflow: hidden;
    background: black;
    cursor: pointer;

    img {
      width: 100%;
      transition: all 0.4s;
    }

    &:hover img {
      opacity: 0.7;
      transform: scale(1.2);
    }

    &:hover::before {
      opacity: 1;
    }
  }

  &__photo::before {
    content: "\2022  \2022  \2022";
    font-size: 2.4rem;
    color: $color-white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 0.3s;
    z-index: 50;
  }

  &__content {
    margin-top: -6.4rem;
    padding-right: 7rem;
    cursor: pointer;

    z-index: 100;
  }

  &__title {
    font-family: $font-alegreya;
    font-size: 3rem;
    background-color: $color-white;
    padding-top: 2.4rem;
    transition: all 0.3s;

    &:hover {
      color: $color-sale;
    }
  }

  &__date {
    display: block;
    font-size: 1.4rem;
    color: $color-content-secondary;
    cursor: context-menu;
  }

  &__btn {
    font-size: 1.2rem;
    padding: 1rem 1.6rem;
    align-self: flex-start;
    margin-top: 2rem;
  }
}
