@import "../../scss/variables";
@import "../../scss/mixins";

.facts {
  margin-top: -9.6rem;

  @media (max-width: $xl) {
    margin-top: 0;
  }

  @media (max-width: $md) {
    // margin-top: 2.4rem;
  }

  &__list {
    @include flex-column(3.2rem);
    list-style: none;
  }

  &__item {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap: 3.2rem;
    color: $color-title;

    p {
      line-height: 1.5;
    }

    span {
      font-size: 4.8rem;
      color: $color-primary-main;
    }
  }

  &__pictures {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);

    @media (max-width: $md) {
      margin-top: -3.2rem;
    }
  }

  &__main-photo {
    width: 100%;
    grid-column: 3/7;
    grid-row: 2/6;
    box-shadow: 0 2rem 5rem rgba(#000, 0.1);

    @media (max-width: $md) {
      width: 120%;
      grid-column: 3/6;
    }
  }

  &__secondary-photo {
    width: 120%;
    grid-column: 2/4;
    grid-row: 4/6;
    z-index: 20;
    box-shadow: 0 2rem 5rem rgba(#000, 0.2);

    @media (max-width: $md) {
      width: 110%;
    }
  }
}
