// COLOR
$color-primary-light: #6f8756;
$color-primary-main: #586d43;
$color-primary-dark: #425232;

$color-title: #2c3722;
$color-content-base: #6c7863;
$color-content-secondary: #a6ad9f;

$color-dark-background: #2c3722;
$color-light-background: #f3f4ef;

$color-white: #fff;
$color-black: #000;

// FONT FAMILY
$font-primary: "Alegreya SC", sans-serif;
$font-secondary: "Inters", sans-serif;

// FONT WEIGHT
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;
