// COLOR
$color-primary-light: #6f8756;
$color-primary-main: #586d43;
$color-primary-dark: #425232;

$color-title: #2c3722;
$color-content-base: #6c7863;
$color-content-secondary: #a6ad9f;

$color-dark-background: #2c3722;
$color-light-background: #f3f4ef;

$color-white: #fff;
$color-black: #000;

$color-sale: #b66650;

// FONT FAMILY
$font-alegreya-sc: "Alegreya SC", sans-serif;
$font-alegreya: "Alegreya", sans-serif;
$font-inters: "Inter", sans-serif;

// FONT WEIGHT
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;

// BREAKPOINTS
$xl: 75em; // 1200px
$lg: 62em; // 992px
$md: 48em; // 768px
$sm: 40em; // 650px
$xs: 36em; // 576px

// SHADOW

$shadow-sidebar: rgba(0, 0, 0, 0.15) 0px 15px 25px,
  rgba(0, 0, 0, 0.05) 0px 5px 10px;
