@import "../../scss/variables";

.benefits {
  padding: 4.8rem;

  &__box {
    display: grid;
    grid-template-columns: min-content 1fr;
    row-gap: 1.6rem;
    column-gap: 2.4rem;
  }

  &__icon {
    grid-row: 1 / span 2;
    color: $color-primary-main;
  }

  &__title {
    font-family: "Alegreya", sans-serif;
    font-size: 3rem;
    color: $color-title;
  }
}
